<div class="row">
   <div class="col s7 offset-s1">
<div>Ваш город: Воронеж</div>
<h1> Работы и услуги автосервисов в Воронеже</h1>
   <p> Подберите автосервис который, лучше всего вам подходит.</p>
   <p> Подбор возможен по следующим параметрам:</p>
      <ul>
         <li>По видам услуг</li>
         <li>По местоположению</li>
         <li>По марке авто</li>
         <li>По графику работы</li>
      </ul>
      <p>количество сервисов: {{number}}</p>
  {{#each services}}
  
         <div class="card">
            <p>Название: {{name}}</p>
            <p>Адрес: {{adress}}</p>
            
            <div><a href="/services/{{id}}">Подробнее</a></div>
         </div>
     
      {{/each}}
   </div>
</div>
<script>
   localStorage.setItem('name', '{{city}}');
</script>